openai
portkey-ai
python-dotenv
click
paramiko
PyGithub
supabase
requests
pydantic
python-digitalocean
e2b
google-api-python-client
google-auth
google-auth-httplib2
dspy
pytest
fastapi
uvicorn[standard]
sse-starlette
httpx

